__pycache__/
*.py[cod]
.venv/
.env
.env.*
_env
*_env
!.env.example
.DS_Store
.cache_cerebro/
/config/github_users.json
/data/source_raw/
/data/raw/slack_events.json
/data/raw/github_events.json
/data/raw/meet_events.json
